* {
  margin: 0;
  padding: 0;
}
body {
  background-color: teal;
  color: white;
}
button {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.err {
  color: rgb(103, 0, 17);
  padding: 5px;
}
h2 {
  padding: 1rem;
}
.container {
  padding: 0 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desc {
  font-size: 24px;
}
.first-half {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  padding: 10px;
  font-size: 22px;
  color: white;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
table {
    border-collapse: collapse;
  }
table td {
  border: 2px solid rgb(173, 221, 14);
  padding: 10px;
  color: rgb(255, 255, 253);
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 600px) {
  body {
    background-color: teal;
    color: white;
  }
  h2 {
    padding: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .desc {
    width: 80%;
    font-size: 18px;
  }
  .first-half {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  label {
    padding: 10px;
    font-size: 22px;
    color: white;
  }
  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }
  table {
    border-collapse: collapse;
  }
  table td {
    border: 2px solid yellow;
    padding: 2px;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
}
